<footer class="footer">
    <div class="container text-center">
        <a style="color: black;" href="https://github.com/ripoul">Author : <i class="fab fa-github"></i> @ripoul</a><br>
        <a style="color: black;" href="https://github.com/ripoul/georide-position">Contribute : <i
                class="fab fa-github"></i> georide-position</a>
    </div>
</footer>

<style>
    body,
    .sticky-footer-wrapper {
        min-height: 100vh;
    }

    .flex-fill {
        flex: 1 1 auto;
    }

    footer {
        margin-top: 15px;
        background-color: #f5f5f5;
        padding: 10px;
    }
</style>