{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Road-Trip</title>
    {% include "map/all-import.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'map/road-trip.css' %}">
</head>

<body>
    {% include "map/nav-bar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="rangepickercontainer">
                <input type="text" id="rangepicker" class="form-control">
            </div>
            <div class="col-md-9">
                <div id="lastDate" class="text-right"></div>
                <div id="mapid"></div>
            </div>

        </div>
    </div>
    {% include "map/footer.html" %}
    <script>
        startDate = "{{ startDate }}";
        endDate = "{{ endDate }}";
        username = "{{ username }}";
    </script>
    <script type="text/javascript" src="{% static 'map/road-trip.js' %}"></script>
</body>

</html>