dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
cache: pip

install:
  - pip install -r requirements.txt

script:
  - coverage run --source='.' manage.py test
  - black --check --verbose georidePosition/*.py map/*py *.py
after_success:
  - codecov
before_deploy:
  - python manage.py collectstatic

deploy:
  provider: gae
  keyfile: georide-e54ed1265ead.json
  project: georide
  on:
    branch: master
    python: "3.7"

before_install:
- openssl aes-256-cbc -K $encrypted_f4b85d9d63ff_key -iv $encrypted_f4b85d9d63ff_iv
  -in georide-e54ed1265ead.json.enc -out georide-e54ed1265ead.json -d
