{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "map/all-import.html" %}
    <title>Get-info</title>
</head>

<body>
    <div class="d-flex flex-column sticky-footer-wrapper">
        {% include "map/nav-bar.html" %}
        <main class="flex-fill">
            <div class="container">
                <article class="card-body mx-auto" style="max-width: 600px;">
                    <h4 class="card-title mt-3 text-center">Get your georide token</h4>
                    <p class="text-center">Your georide token is created for 1 month. Your georide's email and password
                        will not
                        be saved.</p>
                    <form id="form_token" method="POST" action="/getToken">
                        {% csrf_token %}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="email" class="form-control" placeholder="Georide email address" type="email"
                                required>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="password" class="form-control" placeholder="Georide password" type="password"
                                required>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Get Token </button>
                        </div> <!-- form-group// -->
                    </form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button id="copy-token" class="btn btn-outline-secondary" type="button">Copy</button>
                        </div>
                        <input id="token" type="text" class="form-control" placeholder="Your token" aria-label=""
                            aria-describedby="basic-addon1" readonly>
                    </div>
                    <div class="dropdown-divider"></div>
                    <h4 class="card-title mt-3 text-center">Choose the tracker to follow</h4>
                    <form id="form_tracker" method="POST" action="/getTrackers">
                        {% csrf_token %}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-key"></i> </span>
                            </div>
                            <input name="token" class="form-control" placeholder="Your georide token" type="password"
                                required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Get trackers </button>
                        </div> <!-- form-group// -->
                    </form>
                    <table id="example" class="display" style="width:100%"></table>
                </article>

                <!-- Modal -->
                <div id="modal_token" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                Wrong id or password !
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div id="modal_tracker" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                Maybe wrong token ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "map/footer.html" %}
    </div>
    <script type="text/javascript" src="{% static 'map/get-info.js' %}"></script>
</body>

</html>