{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "map/all-import.html" %}
    <title>modify Account</title>
</head>



<body>
    <div class="d-flex flex-column sticky-footer-wrapper">
        {% include "map/nav-bar.html" %}
        <main class="flex-fill">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">modify your Account</h4>
                <p class="text-center">If you need help to get your georide token or the ID of your tracker, go to <a
                        href="/getInfo" target="_blank">the help page.</a></p>
                <form id="form" method="POST" action="/modifyAccount" oninput="onInput();">
                    {% csrf_token %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input value="{{ id }}" id="id" name="id" class="form-control" placeholder="ID" type="text"
                            required>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input value="{{ email }}" name="email" class="form-control" placeholder="Email address"
                            type="email" required>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-key"></i> </span>
                        </div>
                        <input value="{{ token }}" name="token" class="form-control" placeholder="Your georide token"
                            type="password" required>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-thumbtack"></i> </span>
                        </div>
                        <input value="{{ trackerID }}" name="trackerID" class="form-control"
                            placeholder="Georide tracker ID" type="number" required>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-day"></i> </span>
                        </div>
                        <input value="{{ startDate }}" id="startDate" name="startDate" class="form-control"
                            placeholder="The first day of your road trip" type="date" required>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-day"></i> </span>
                        </div>
                        <input value="{{ endDate }}" id="endDate" name="endDate" class="form-control"
                            placeholder="The last day of your road trip" type="date" required>
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Update Account </button>
                    </div> <!-- form-group// -->
                </form>
            </article>
            <!-- Modal -->
            <div id="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            An error occured...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "map/footer.html" %}
    </div>
    <script type="text/javascript" src="{% static 'map/modify-account.js' %}"></script>
</body>

</html>