{% if connected %}
<nav class="navbar navbar-light bg-light" style="margin-bottom: 5px;">
    <a href="/" class="navbar-brand">Georide Road Trip</a>
    <span>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/modify" role="button">Modify Account</a>
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/disconect" role="button">Sign Out</a>
    </span>
</nav>
{% else %}
<nav class="navbar navbar-light bg-light" style="margin-bottom: 5px;">
    <a href="/" class="navbar-brand">Georide Road Trip</a>
    <span>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/sign-in" role="button">Sign In</a>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/sign-up" role="button">Sign Up</a>
    </span>
</nav>
{% endif %}