{% if connected %}
<nav class="navbar navbar-light bg-light" style="margin-bottom: 5px;">
    <a class="navbar-brand">Georide Road Trip</a>
    <span>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/modifie" role="button">Modifie Account</a>
        <a class="btn btn-outline-danger my-2 my-sm-0" href="/disconect" role="button">Disconect</a>
    </span>
</nav>
{% else %}
<nav class="navbar navbar-light bg-light" style="margin-bottom: 5px;">
    <a class="navbar-brand">Georide Road Trip</a>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/connect" role="button">Connect to your account</a>
</nav>
{% endif %}